

body{ padding-top:60px;}


#epx-top-nav .brand {
	padding:5px 20px 5px 0px;
}

#epx-top-nav .brand img {
	width:65px;
}

#body-content {
    width: 1000px;
}

.am-side-header {
    margin: 0px 0px 20px 35px;
}
.mw-movie, .favorite-item, .genre {
    margin: 10px 0px 10px 35px;
}

#main-left {
    width: 745px;
}

#most-watched { 
	line-height: 16px; font-size: 11px;
}

/* the infinite scroll div */
#collections #main_collection {
    height: 1000px;
    overflow: auto;
}

#collections li.movie-item {
    height: 257px;
}

.movie-item .movie-data {
    display:none;
}
